bleach==1.4.1
Distutils2==1.0a4
Pygments==2.0.2
defusedxml==0.4.1
docutils==0.12
fs==0.5.0
html5lib==0.999
itsdangerous==0.24
packaging==15.0
passlib==1.6.2
psycopg2==2.5.4
py-bcrypt==0.4
python-dateutil==2.4.0
python-openid==2.2.5
pytz==2014.10
raven==5.1.1
readme==0.4.1
redis==2.10.3
requests==2.5.1
rq==0.4.6
six==1.9.0
times==0.7
uWSGI==2.0.9
wsgiref==0.1.2
zope.browser==2.1.0
zope.component==4.2.1
zope.configuration==4.0.3
zope.contenttype==4.1.0
zope.event==4.0.3
zope.exceptions==4.0.7
zope.i18n==4.0.0
zope.i18nmessageid==4.0.3
zope.interface==4.1.2
zope.location==4.0.3
zope.pagetemplate==4.1.0
zope.proxy==4.1.4
zope.publisher==4.1.0
zope.schema==4.4.2
zope.security==4.0.1
zope.tal==4.1.0
zope.tales==4.1.0
zope.traversing==4.0.0
